/* Navbar */
body {
    margin: 0;
    padding: 0;
}

div
{
    background-color: #E5DCAE;
    padding-bottom: 10px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 20%;
    background-color: white;
    position: fixed;
    height: 100%;
    overflow: auto;
}

li a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
}

li{
    border: 1px solid #925812;
}

li a.active {
    background-color: #D99F4F;
    color: white;
}

li a:hover:not(.active) {
    background-color: skyblue;
    color: white;
}

/* Home */
.bkg {
    margin: 0;
    background-image: url("https://wallpapercave.com/wp/wp5542781.jpg");
    background-position: center;
    filter: blur(3px);
    height: 100vh;
    color: wheat;
}

.text {
    color: #000;
    font-weight: bold;
    border: 3px solid white;
    position: absolute;
    top: 50%;
    left: 60%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 60%;
    text-align: center;
}

/* About */
.about {
    padding: 5%;
}

.gallery {
    border: 1px solid black;
    margin:5px;
}

.gallery:hover {
    border: 1px solid #777;
}

div.gallery img {
    width: 100%;
    height: auto;
}

div.desc {
    padding: 15px;
    text-align: center;
}

.responsive {
    display: flex;
    padding: 0 6px;
    float: left;
    width: 90.99999%;
}

/* table */
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 95%;
    margin: auto;
}

.h1 {
    text-align: center;
}

td,
th {
    border: 1px solid #925812;
    text-align: left;
    padding: 8px;
}

th
{
    background-color: #D99F4F;
}

td
{
    background-color: #faf6D0;
}

input[type=text],
select {
    width: 100%;
    padding: 5px 5px;
    margin: 3px 0;
    display: inline-block;
    border: 1px solid gray;
    border-radius: 4px;
    box-sizing: border-box;
}

#form {
    display: flex;
    justify-content: center;
}

.btn {
    padding: 5px;
    width: 100%;
}

.form {
    border-radius: 5px;
    padding: 10px;
}

.popup-content {
    background-color: white;
    padding: 1%;
    border: 1px solid black;
}

.popupmodal
{
    top: 50%!important;
        left: 50%!important;
}

html {
    background-color: #E5DCAE;
}